.guide_wrap h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  letter-spacing: -0.64px;
}
.guide_wrap section {
  margin-bottom: 48px;
}
.guide_wrap section h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px; /* 135.714% */
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.guide_wrap section h3 span {
  color: #c62828;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.56px;
}
.guide_wrap section h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.48px;
  margin-bottom: 20px;
}
.guide_wrap section h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.27px;
  margin-bottom: 20px;
}
.guide_wrap section h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  margin-bottom: 20px;
}
.guide_wrap section .imgWrap img {
  width: auto;
  max-width: 100%;
}
.guide_wrap .guide_item_view .item_view {
  position: relative;
  padding: 54px 20px;
  border: 1px solid var(--clr-BDBDBD);
  background-color: #fafafa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-bottom: none;
}
.guide_wrap .guide_item_view .item_view .tipIcon {
  width: auto;
}
.guide_wrap .guide_item_view .code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.27px;
  padding: 24px 20px;
  border: 1px solid var(--clr-BDBDBD);
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.guide_wrap .guide_item_view .code img {
  transform: rotate(180deg);
}
.guide_wrap .guide_item_view .code.on {
  border-radius: 0;
}
.guide_wrap .guide_item_view .code.on img {
  transform: rotate(0);
}
.guide_wrap .guide_item_view .guide_tab_wrap {
  display: none;
  border: 1px solid var(--clr-BDBDBD);
  padding: 24px 20px;
  border-top: none;
}
.guide_wrap .guide_item_view .guide_tab_wrap.on {
  display: block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.guide_wrap .guide_item_view .guide_tab_wrap .guide_item {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}
.guide_wrap .guide_tabTop {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.guide_wrap .guide_tabTop span {
  font-size: 14px;
  cursor: pointer;
  padding: 4px 20px;
}
.guide_wrap .guide_tabTop span.active {
  font-weight: 600;
  background-color: #333333;
  color: #ffffff;
  border-radius: 4px;
}
.guide_wrap .guide_text {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.guide_wrap .guide_text p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.guide_wrap .guide_text p a {
  display: inline-block;
}
.guide_wrap .guide_text a {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.27px;
  text-decoration-line: underline;
}
.guide_wrap .guide_text span {
  font-weight: 700;
}
.guide_wrap h3 + .guide_text p {
  color: #1d1d1d;
}
.guide_wrap h4 + .guide_text p {
  color: #333333;
}
.guide_wrap .guide_list ul {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.guide_wrap .guide_list ul li {
  display: flex;
  gap: 8px;
  width: 100%;
}
.guide_wrap .guide_list ul li span {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.guide_wrap .guide_list ul li span em {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background-color: var(--clr-1A1A1A);
  color: var(--clr-FFFFFF);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.guide_wrap .guide_list ul li div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex: 1;
}
.guide_wrap .guide_list ul li div p {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.guide_wrap .guide_list ul li div > div > p {
  display: flex;
  gap: 8px;
}
.guide_wrap .Tcolor_R {
  color: #c62828;
  font-weight: 700;
}
.guide_wrap .Tunline {
  text-decoration: underline;
  font-weight: 600;
}
.guide_wrap .colorchip {
  display: block;
  border-radius: 4px;
  width: 52px;
  height: 24px;
  border: 1px solid transparent;
}
.guide_wrap .dataTable {
  margin: 32px 0;
}
.guide_wrap table tbody tr.line {
  border-bottom: 1px solid #bdbdbd;
}
.guide_wrap .imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
  border-radius: 20px;
  padding: 54px 20px;
  margin: 32px 0;
}
.guide_wrap .imgWrap.offBg {
  background-color: transparent;
}
.guide_wrap .imgFlex {
  display: flex;
  gap: 32px;
  margin: 32px 0;
}
.guide_wrap .imgFlex .imgWrap {
  margin: 0;
}

.point_text {
  padding: 32px;
  border-radius: 20px;
  background-color: #f2fde4;
}
.point_text strong {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}
.point_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}

.DDY_select .select.offline button {
  color: #ffffff;
}
.DDY_select .select.offline::after {
  content: "";
  background: url("/framework/assets/images/guide/ver_icon.svg") center
    no-repeat;
}

.guide_wrap .guide_item_view .item_view .DDY_title {
  margin-bottom: 0;
}
.guide_wrap .guide_item_view .item_view .DDY_title h2 {
  font-size: 24px;
}
.guide_wrap .guide_item_view .item_view .userWrap .imgWrap {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background-color: var(--clr-F5F5F5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--clr-EEEEEE);
  padding: 0;
  margin: 0;
}
.guide_wrap .guide_item_view .item_view nav {
  position: static;
  min-height: 250px;
}
.guide_wrap .guide_item_view .item_view .pagination {
  padding: 0;
}
.guide_wrap .guide_item_view .item_view .selectBox {
  align-items: center;
}
.guide_wrap .partner_map_modal .modalWrap {
  left: 50%;
  top: -260px;
}
.guide_wrap .mapListWrap {
  position: static;
  width: 1200px;
}
.guide_wrap .mapListWrap .mapList {
  padding: 12px;
}

nav {
  margin-top: 0;
}

@media screen and (max-width: 1439px) {
  header h1,
  header .DDY_select {
    display: none;
  }
  .guide_item_view .item_view {
    overflow-x: auto;
  }
}
/* overview */
.main_banner {
  display: flex;
  gap: 78px;
  align-items: center;
  justify-content: center;
  background-color: #eff6ff;
  border-radius: 16px;
}
.main_banner .main_text strong {
  display: block;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  letter-spacing: -0.64px;
  margin-bottom: 20px;
}
.main_banner .main_text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
}

.view_list {
  display: flex;
  gap: 16px;
}
.view_list li {
  width: calc(33.33% - 16px);
}
.view_list li .imgWrap {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  margin-bottom: 8px;
}
.view_list li .imgWrap img {
  width: 100%;
}
.view_list li strong {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
}
.view_list li span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  color: #616161;
}

.icon_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
.icon_list li {
  background-color: #fafafa;
  width: calc(25% - 16px);
  border-radius: 8px;
  overflow: hidden;
}
.icon_list li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
}
.icon_list li .iconWrap {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 4px;
}
.icon_list li strong {
  display: block;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  letter-spacing: -0.4px;
}
.icon_list li span {
  display: block;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  color: #616161;
  margin-bottom: 8px;
}
.icon_list li p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.24px;
  margin-bottom: 16px;
}
.icon_list li .c_flex {
  gap: 7px;
}

.guide_input_wrap {
  margin-bottom: 20px;
}
.guide_input_wrap .DDY_input {
  width: 424px;
}

.DDY_select .option.active {
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .logoWrap .logo::before {
    display: none;
  }
  header {
    min-width: 100%;
  }
  main {
    min-width: 100%;
    overflow-x: auto;
  }
  .dataTable > tbody > tr td {
    padding: 0 2px;
    word-break: break-all;
  }
  .main_banner {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px;
    background-color: #eff6ff;
    border-radius: 16px;
  }
  .main_banner .main_text strong {
    display: block;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.64px;
    margin-bottom: 20px;
    word-break: keep-all;
  }
  .main_banner .main_text p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
  }
  .main_banner img {
    width: 100%;
  }
  .view_list {
    flex-wrap: wrap;
  }
  .view_list li {
    width: calc(100% - 16px);
  }
  .icon_list li {
    width: calc(100% - 16px);
  }
  .guide_input_wrap .DDY_input {
    width: 100%;
  }
}
.pl10 {
  padding-left: 17px;
}

.main_error_message {
  display: none;
}

@media screen and (max-width: 768px) {
  .main_error_message {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
} /*# sourceMappingURL=guide.css.map */

/* 설치보고 확대하기 */
.DDY_modal .modalWrap .modalContent.img_swiper_wrap {
  /* height: calc(100vh - 431px); */
  height: 480px;
}
.img_swiper_wrap .swiper {
  height: 100%;
}
.img_scale_swiper {
  max-height: 480px;
  overflow: hidden;
}
.img_scale_swiper .swiper-slide .img_wrap {
  position: relative;
  height: 100%;
}
.img_scale_swiper .swiper-slide .img_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  object-fit: contain !important;
}
.img_scale_swiper .swiper-pagination {
  width: auto !important;
  padding: 6px 12px;
  background-color: #333;
  border-radius: 999px;
  font-size: 14px;
  color: #fff !important;
  left: auto !important;
  right: 16px !important;
  bottom: 16px !important;
  opacity: 0.7;
}
.img_scale_swiper .swiper-pagination span {
  color: #fff !important;
}
.img_scale_swiper .swiper_btn {
  z-index: 10;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
.img_scale_swiper .swiper_btn img {
  width: 100%;
  height: 100%;
}
.img_scale_swiper .swiper-prev {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
}
.img_scale_swiper .swiper-next {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0, -50%);
}
.preview_g .preview_list .img_wrap .scale {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  background: #333 url("/img/subrental/mobile/size_up_icon.svg") center
    no-repeat;
}
