<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" href="/framework/assets/images/DDY_favicon.png" />
    <!-- jquery -->
    <script src="/framework/assets/js/jquery-3.7.1.min.js"></script>
    <!-- js -->
    <script src="/framework/assets/js/common.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/framework/assets/css/style.css" />
    <link rel="stylesheet" href="/framework/assets/css/guide/guide.css" />

    <!-- lottie -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <link rel="stylesheet" href="/framework/assets/css/prism.css" />
    <script src="/framework/assets/js/prism.js"></script>
    <title>이로움케어 프레임워크 가이드</title>
  </head>
  <body class="hidden">
    <header>
      <div class="h_left">
        <div class="hambar">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logoWrap">
          <h1><a href="/framework/index.html">EroumCare</a></h1>
        </div>
        <div class="DDY_select">
          <div class="select offline">
            <button type="button">Ver 1.0.0</button>
          </div>
          <div class="option">
            <ul>
              <li><button type="button">Ver 1.0.0</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="h_right">
        <div class="DDY_input">
          <input
            type="text"
            placeholder="검색"
            class="high_S"
            id="guide_keyword"
          />
        </div>
      </div>
    </header>
    <div class="partner_wrap">
      <nav>
        <ul>
          <li><a href="../../index.html">Overview</a></li>
          <li>
            <a href="javascript: void(0);"
              >Foundation
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul>
              <li><a href="../../foundation/color.html">Color (색상)</a></li>
              <li>
                <a href="../../foundation/typography.html">Typography (서체)</a>
              </li>
              <li><a href="../../foundation/shape.html">Shape (형태)</a></li>
              <li><a href="../../foundation/layout.html">Layout (배치)</a></li>
              <li>
                <a href="../../foundation/system_icon.html"
                  >System Icon (아이콘)</a
                >
              </li>
            </ul>
          </li>

          <li class="on">
            <a href="javascript: void(0);"
              >Components
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul class="showOn">
              <li class="show on">
                <a href="javascript:void(0)"
                  >Navigation (탐색)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../navigation/breadcrumb.html"
                      >Breadcrumb (브레드크럼)</a
                    >
                  </li>
                  <li><a href="../navigation/gnb.html">GNB (헤더, 네비)</a></li>
                  <li>
                    <a href="../navigation/side_navigation.html"
                      >Side Navigation (사이드 메뉴)</a
                    >
                  </li>
                  <li>
                    <a href="../navigation/pagination.html"
                      >Pagination (페이지네이션)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="show">
                <a href="javascript:void(0)"
                  >Layout (레이아웃)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul class="showOn">
                  <li>
                    <a href="../layout/accordion.html">Accordion (아코디언)</a>
                  </li>
                  <li>
                    <a href="../layout/avatar.html">Avatar (아바타)</a>
                  </li>
                  <li><a href="../layout/badge.html">Badge (배지)</a></li>
                  <li><a href="../layout/calendar.html">Calendar (달력)</a></li>
                  <li><a href="../layout/card.html">Card (카드)</a></li>
                  <li>
                    <a href="../layout/carousel.html">Carousel (캐러셀)</a>
                  </li>
                  <li class="active">
                    <a href="../layout/label.html">Label (레이블)</a>
                  </li>
                  <li><a href="../layout/modal.html">Modal (모달)</a></li>
                  <li>
                    <a href="../layout/status_chips.html"
                      >Status Chips(상태 칩)</a
                    >
                  </li>
                  <li><a href="../layout/tab.html">Tab (탭)</a></li>
                  <li><a href="../layout/table.html">Table (표)</a></li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Action (액션)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../action/button.html">Button (버튼)</a>
                  </li>
                  <li>
                    <a href="../action/link.html">Link (링크)</a>
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Select (선택)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../select/checkbox.html">Checkbox (체크박스)</a>
                  </li>
                  <li><a href="../select/chips.html">Chips (칩)</a></li>
                  <li>
                    <a href="../select/radio_button.html"
                      >Radio button (라디오 버튼)</a
                    >
                  </li>
                  <li>
                    <a href="../select/segmented_control.html"
                      >Segmented Control (세그먼트 컨트롤)</a
                    >
                  </li>
                  <li>
                    <a href="../select/select_button.html">Select (셀렉트)</a>
                  </li>
                  <li><a href="../select/switch.html">Switch (토글)</a></li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Input (입력)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../input/textarea.html">Textarea (텍스트 영역)</a>
                  </li>
                  <li>
                    <a href="../input/text_input.html"
                      >Text input (텍스트 입력 필드)</a
                    >
                  </li>
                  <li>
                    <a href="../input/file_upload.html"
                      >File upload (파일 업로드)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Feedback (피드백)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../feedback/loading.html">Loading (로딩) </a>
                  </li>
                  <li>
                    <a href="../feedback/step_indicator.html"
                      >Step indicator (단계 표시기)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Message (알림)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li><a href="../message/toast.html">Toast (토스트)</a></li>
                  <li><a href="../message/tooltip.html">Tooltip (툴팁)</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript: void(0);"
              >Patterns
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul>
              <li><a href="../../patterns/search.html">Search (검색)</a></li>
              <li><a href="../../patterns/message.html">Message (알림)</a></li>
              <li><a href="../../patterns/error.html">Error (오류)</a></li>
              <li><a href="../../patterns/forms.html">Forms (입력폼)</a></li>
              <li>
                <a href="../../patterns/card_mob.html">Card(카드_모바일)</a>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Order (주문)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../../patterns/order/list.html"> 상품리스트</a>
                  </li>
                  <li>
                    <a href="../../patterns/order/detail.html">상품상세</a>
                  </li>
                  <li>
                    <a href="../../patterns/order/check.html">주문정보확인</a>
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Tables (테이블)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../../patterns/tables/default.html">기본형</a>
                  </li>
                  <li>
                    <a href="../../patterns/tables/data.html">데이터 입력형</a>
                  </li>
                  <li><a href="../../patterns/tables/mix.html">조합형</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript: void(0);"
              >Page
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul>
              <li><a href="../../page/error.html">Error</a></li>
              <li><a href="../../page/nodata.html">NoData</a></li>
              <li><a href="../../page/ready.html">빈화면</a></li>
            </ul>
          </li>
        </ul>
        <p>ⓒEroumcare All rights reserved.</p>
      </nav>
      <main>
        <!-- s -->

        <div class="guide_wrap">
          <div class="DDY_title">
            <div>
              <h2>Label (레이블)</h2>
              <ul class="indicator">
                <li>Components</li>
                <li>Layout (레이아웃)</li>
                <li>Label (레이블)</li>
              </ul>
            </div>
          </div>

          <div class="DDY_list">
            <div class="tabTop">
              <span class="active">Design</span>
              <span>Code</span>
            </div>

            <!-- Design -->
            <div class="tabCon">
              <section>
                <h3>Label</h3>
                <div class="guide_text">
                  <p>
                    • 관련 구성요소(컴포넌트)에 대한 설명 텍스트를 제공하여
                    사용자 이해를 돕는 컴포넌트
                  </p>
                </div>
              </section>
              <section>
                <h3>구조</h3>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/layout/layout07_01.png"
                    alt="구조 이미지"
                  />
                </div>
                <div class="guide_list">
                  <ul>
                    <li>
                      <span><em>1</em>Label : </span>
                      <div>
                        <p>레이블을 통해 전달하고자 하는 내용</p>
                      </div>
                    </li>
                    <li>
                      <span><em>2</em>Component : </span>
                      <div>
                        <p>레이블과 연관된 컴포넌트 노출</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <h3>타입</h3>
                <h5>기본형</h5>
                <div class="guide_text">
                  <p>
                    • 기본형 레이블은 연관된 양식 필드가 선택 사항이며 제출에
                    필수가 아님을 나타내는 데 사용된다.
                  </p>
                </div>

                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/layout/layout07_02.png"
                    alt="기본형 이미지"
                  />
                </div>
                <h5>필수형</h5>
                <div class="guide_text">
                  <p>
                    • 기본형 레이블은 연관된 양식 필드가 필수 사항(
                    <sup>*</sup> )임을 나타는데 사용한다.
                  </p>
                </div>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/layout/layout07_03.png"
                    alt="필수형 이미지"
                  />
                </div>
              </section>
              <section>
                <h3>사용법</h3>
                <div class="guide_list">
                  <ul>
                    <li>
                      <span>• 레이블은 컴포넌트와 조합하여 사용한다. </span>
                    </li>
                    <li>
                      <div>
                        <p class="pl10">
                          텍스트 필드, 셀렉트 필드,탭 등 정의된 컴포넌트와
                          조합하여 사용하며, 그 외 경우 레이블을 사용하지 않고
                          타이틀처럼 별도로 사용한다.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/layout/layout07_04.png"
                    alt="사용법 이미지"
                  />
                </div>
              </section>
            </div>

            <!-- Code -->
            <div class="tabCon">
              <section>
                <h3>기본형</h3>
                <div class="guide_item_view">
                  <div class="item_view">
                    <p>Label<sup>*</sup></p>
                  </div>

                  <div class="code">
                    코드보기
                    <img
                      src="/framework/assets/images/guide/code_arrow.svg"
                      alt="코드보기"
                    />
                  </div>

                  <div class="guide_tab_wrap">
                    <div class="guide_tabTop">
                      <span class="active">HTML</span>
                      <span>SCSS</span>
                    </div>
                    <!-- item01 -->
                    <div class="guide_item">
                      <pre
                        class="line-numbers"
                      ><code class="language-markup">&#x3C;div class=&#x22;item_view&#x22;&#x3E;
  &#x3C;p&#x3E;Label&#x3C;sup&#x3E;*&#x3C;/sup&#x3E;&#x3C;/p&#x3E;
&#x3C;/div&#x3E;</code></pre>
                    </div>
                    <!-- item02 -->
                    <div class="guide_item">
                      <pre
                        class="line-numbers"
                      ><code class="language-scss">sup {
  color: var(--clr-E53935);
}</code></pre>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- e -->
      </main>
    </div>
  </body>
</html>
