@charset "UTF-8";
.hambar {
  width: 16px;
  height: 11px;
  position: relative;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.hambar span {
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 100px;
  background-color: var(--clr-FFFFFF);
  transition: all 0.3s;
}
.hambar span:nth-child(1) {
  top: 0;
}
.hambar span:nth-child(2) {
  top: 5.5px;
  left: 0;
  width: 16px;
  overflow: visible;
}
.hambar span:nth-child(3) {
  top: 11px;
}
.hambar.on span:nth-child(2) {
  left: 0;
  width: 8px;
  overflow: hidden;
}

.alert {
  position: fixed;
  bottom: 28px;
  left: 50%;
  transform: translate(-50%, 0);
  flex-wrap: wrap;
  flex-direction: column-reverse;
  z-index: 20;
  width: 80%;
  display: none;
}
.alert.btnOn {
  bottom: 106px;
}
.alert.on {
  display: flex;
}
.alert p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  border: 1px solid var(--clr-43A047);
  background-color: var(--clr-E8F5E9);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.2), 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px 8px 44px;
  min-width: 288px;
  height: 58px;
  margin-top: 16px;
  position: relative;
}
.alert p:before {
  content: "";
  width: 20px;
  height: 14px;
  background: url("/framework/assets/images/part_alarm_check.svg") center no-repeat;
  position: absolute;
  left: 16px;
  top: 22px;
}
.alert p.error {
  border-color: var(--clr-E53935);
  background-color: var(--clr-FFEBEE);
  padding: 8px 16px 8px 48px;
}
.alert p.error:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("/framework/assets/images/part_alarm_error.svg") center no-repeat;
  position: absolute;
  left: 16px;
  top: 16px;
}

.timeSort {
  pointer-events: auto !important;
}
.timeSort button {
  width: 100%;
}

.mapWrap {
  position: relative;
  height: 100vh;
  margin-top: 56px;
  overflow: hidden;
}
.mapWrap .mapView {
  background: url("/framework/assets/images/part_map.png") center/cover no-repeat;
  height: 280px;
  transition: height 0.3s;
}
.mapWrap .localPoint {
  position: absolute;
  outline: none;
  cursor: pointer;
}
.mapWrap .localPoint .imgWrap {
  position: relative;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  transition: all 0.1s;
}
.mapWrap .localPoint .imgWrap embed {
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.mapWrap .localPoint .imgWrap span {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 17px;
  font-weight: 900;
  color: var(--clr-FFFFFF);
  padding: 6px;
  transition: all 0.1s;
}
.mapWrap .localPoint .imgWrap.active {
  top: -12px;
  left: -6px;
  width: 56px;
  height: 56px;
  transition: all 0.1s;
}
.mapWrap .localPoint .imgWrap.active span {
  padding: 10px;
  transition: all 0.1s;
}
.mapWrap .localPoint > em {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 36px;
  height: 36px;
  transition: all 0.1s;
}
.mapWrap .localPoint > em embed {
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}
.mapWrap .localPoint > em span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 0;
  color: transparent;
  padding: 6px;
  transition: all 0.1s;
}
.mapWrap .localPoint > em.active {
  top: -12px;
  left: -6px;
  width: 48px;
  height: 48px;
}
.mapWrap .localPoint > em.active embed {
  width: 100%;
  height: 100%;
}

.DDY_mobile_modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s, overflow 0.2s;
  z-index: 10;
}
.DDY_mobile_modal.active {
  overflow: visible;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s;
}
.DDY_mobile_modal .modalWrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 32px 20px;
  background-color: var(--clr-FFFFFF);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transition: top 0.2s;
}
.DDY_mobile_modal .modalWrap .modalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.DDY_mobile_modal .modalWrap .modalTitle p {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr-1a1a1a);
}
.DDY_mobile_modal .modalWrap .modalTitle a img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
.DDY_mobile_modal .modalWrap .modalContent {
  margin: 24px 0 32px;
}
.DDY_mobile_modal .modalWrap .modalContent > p {
  font-size: 18px;
  line-height: 26px;
  color: var(--clr-555555);
}
.DDY_mobile_modal .modalWrap .modalContent > ul {
  margin-bottom: 12px;
}
.DDY_mobile_modal .modalWrap .modalContent > ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 16px 0;
  font-size: 16px;
  color: var(--clr-1A1A1A);
  border-bottom: 1px solid var(--clr-EEEEEE);
}
.DDY_mobile_modal .modalWrap .modalContent > ul li span {
  width: 160px;
  font-weight: 600;
}
.DDY_mobile_modal .modalWrap .modalContent > ul li p {
  width: 100%;
}
.DDY_mobile_modal .modalWrap .modalContent .option {
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-height: 250px;
  position: relative;
}
.DDY_mobile_modal .modalWrap .modalContent .option::before {
  content: "";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 60%);
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  height: 100%;
  max-height: 232px;
  overflow-y: auto;
  padding-right: 2px;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul::-webkit-scrollbar {
  width: 4px; /* 세로축 스크롤바 폭 너비 */
  height: 120px; /* 가로축 스크롤바 폭 너비 */
}
.DDY_mobile_modal .modalWrap .modalContent .option ul::-webkit-scrollbar-thumb {
  background: var(--clr-E0E0E0); /* 스크롤바 막대 색상 */
  border-radius: 12px 12px 12px 12px;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul ::-webkit-scrollbar-track {
  background: var(--clr-333333); /*스크롤바 뒷 배경 색상*/
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li {
  padding: 9px 8px 9px 12px;
  width: 100%;
  line-height: 24px;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li:last-child {
  margin-bottom: 20px;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li:hover {
  border-radius: 4px;
  background: var(--clr-EFF1FD) url("/framework/assets/images/DDY_select_checked.svg") center right 8px/auto no-repeat;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li:hover button {
  color: var(--clr-323DA3);
  background: none;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li.checked {
  border-radius: 4px;
  background: var(--clr-EFF1FD) url("/framework/assets/images/DDY_select_checked.svg") center right 8px/auto no-repeat;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li.checked button {
  color: var(--clr-323DA3);
  background: none;
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li.disable {
  background-color: var(--clr-EEEEEE);
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li.disable button {
  color: var(--clr-BDBDBD);
}
.DDY_mobile_modal .modalWrap .modalContent .option ul li button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: left;
  padding-right: 28px;
}
.DDY_mobile_modal .modalWrap .modalBtnWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.DDY_mobile_modal .modalWrap .tui-datepicker {
  position: static;
  border: none;
  box-shadow: none;
  margin-top: 0;
}
.DDY_mobile_modal .modalWrap .tui-datepicker .tui-calendar {
  padding-top: 0;
}
.DDY_mobile_modal .modalWrap .tui-calendar {
  border: none;
}

.dateTime {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 152px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.dateTime > div {
  position: relative;
  width: 152px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dateTime > div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.dateTime > div:nth-child(3) {
  flex-basis: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.dateTime > div:nth-child(3) ol {
  position: static;
}
.dateTime > div:nth-child(3) ol li {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.dateTime > div ol {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -60px;
}
.dateTime > div ol li {
  padding: 8px 0;
  text-align: center;
  margin: 4px 0;
  height: 40px;
  transition: all 0.3s;
}
.dateTime > div ol li button {
  font-size: 22px;
  font-weight: 700;
  color: var(--clr-BDBDBD);
  touch-action: none;
}
.dateTime > div ol li.active button {
  color: var(--clr-1A1A1A);
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 16px;
}
.userInfo .userTextWrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.userInfo .userTextWrap .imgWrap {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  background-color: var(--clr-F5F5F5);
  overflow: hidden;
  padding: 6px;
  border: 1px solid var(--clr-EEEEEE);
}
.userInfo .userTextWrap .imgWrap img {
  width: 100%;
  height: 100%;
}
.userInfo .userTextWrap strong {
  font-size: 18px;
  font-weight: 600;
}
.userInfo .userTextWrap p {
  color: var(--clr-616161);
}
.userInfo .DDY_btn_BW {
  min-width: auto;
}

.mobile_navi {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--clr-FFFFFF);
  transition: left 0.3s;
  z-index: 110;
}
.mobile_navi.active {
  left: 0;
}

.description {
  font-size: 14px;
  color: var(--clr-616161);
  padding-top: 9px;
}

.tableTabTopcustom {
  border-radius: 20px;
  background: var(--clr-EEEEEE);
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 4px;
}
.tableTabTopcustom .bar {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  height: 1px;
  background-color: var(--clr-141E76);
  width: 75px;
  height: 32px;
  border-radius: 100px;
  transition: left 0.3s;
  z-index: 1;
}
.tableTabTopcustom span {
  position: relative;
  display: block;
  width: 75px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-weight: 600;
  color: var(--clr-999999);
  cursor: pointer;
  transition: color 0.3s;
  z-index: 2;
  outline: none;
}
.tableTabTopcustom span.active {
  font-weight: 700;
  color: var(--clr-FFFFFF);
}

.noimg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 24px;
}
.noimg img {
  margin-bottom: 12px;
}
.noimg embed {
  margin-bottom: 12px;
}
.noimg p {
  width: 100%;
  font-size: 16px;
  color: var(--clr-616161);
  text-align: center;
}/*# sourceMappingURL=mobile_compent.css.map */