.guide_wrap {
  // ----------------------------- section ------------------------------------
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.64px;
  }
  section {
    margin-bottom: 48px;

    h3 {
      font-size: 28px;
      font-weight: 700;
      line-height: 38px; /* 135.714% */
      letter-spacing: -0.56px;
      margin-bottom: 20px;
      span {
        color: #c62828;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: -0.56px;
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px; /* 141.667% */
      letter-spacing: -0.48px;
      margin-bottom: 20px;
    }
    h5 {
      font-size: 18px;
      font-weight: 700;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.27px;
      margin-bottom: 20px;
    }
    h6 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      margin-bottom: 20px;
    }

    .imgWrap {
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }

  // ----------------------------- guide_item_view ------------------------------------

  .guide_item_view {
    .item_view {
      position: relative;
      padding: 54px 20px;
      border: 1px solid var(--clr-BDBDBD);
      background-color: #fafafa;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      border-bottom: none;
      .tipIcon {
        width: auto;
      }
    }
    .code {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.27px;
      padding: 24px 20px;
      border: 1px solid var(--clr-BDBDBD);
      cursor: pointer;

      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      img {
        transform: rotate(180deg);
      }

      &.on {
        border-radius: 0;
        img {
          transform: rotate(0);
        }
      }
    }

    .guide_tab_wrap {
      display: none;
      border: 1px solid var(--clr-BDBDBD);
      padding: 24px 20px;
      border-top: none;
      &.on {
        display: block;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      .guide_item {
        max-height: 500px;
        overflow-y: auto;
        position: relative;
      }
    }
  }

  // ----------------------------- guide_tabTop ------------------------------------

  .guide_tabTop {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      font-size: 14px;
      cursor: pointer;
      padding: 4px 20px;
      &.active {
        font-weight: 600;
        background-color: #333333;
        color: #ffffff;
        border-radius: 4px;
      }
    }
  }

  // ----------------------------- guide_text ------------------------------------

  .guide_text {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    p {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      a {
        display: inline-block;
      }
    }
    a {
      display: block;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 144.444% */
      letter-spacing: -0.27px;
      text-decoration-line: underline;
    }
    span {
      font-weight: 700;
    }
  }

  h3 + .guide_text p {
    color: #1d1d1d;
  }
  h4 + .guide_text p {
    color: #333333;
  }

  // ----------------------------- guide_list ------------------------------------

  .guide_list {
    ul {
      margin-bottom: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      li {
        display: flex;
        gap: 8px;
        width: 100%;
        span {
          display: flex;
          gap: 8px;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px; /* 150% */
          letter-spacing: -0.24px;
          em {
            width: 24px;
            height: 24px;
            border-radius: 999px;
            background-color: var(--clr-1A1A1A);
            color: var(--clr-FFFFFF);
            text-align: center;

            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.24px;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          flex: 1;
          p {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: -0.24px;
          }
          > div {
            > p {
              display: flex;
              gap: 8px;
            }
          }
        }
      }
    }
  }
  .Tcolor_R {
    color: #c62828;
    font-weight: 700;
  }
  .Tunline {
    text-decoration: underline;
    font-weight: 600;
  }
  // ----------------------------- class ------------------------------------

  .colorchip {
    display: block;
    border-radius: 4px;
    width: 52px;
    height: 24px;
    border: 1px solid transparent;
  }

  .dataTable {
    margin: 32px 0;
  }

  // ----------------------------- table ------------------------------------

  table {
    tbody {
      tr.line {
        border-bottom: 1px solid #bdbdbd;
      }
    }
  }

  // ----------------------------- imgWrap ------------------------------------

  .imgWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 54px 20px;
    margin: 32px 0;
    &.offBg {
      background-color: transparent;
    }
  }

  .imgFlex {
    display: flex;
    gap: 32px;
    margin: 32px 0;
    .imgWrap {
      margin: 0;
    }
  }
}

// ----------------------------- point_text ------------------------------------
.point_text {
  padding: 32px;
  border-radius: 20px;
  background-color: #f2fde4;
  strong {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
  }
}

// ----------------------------- version ------------------------------------
// version
.DDY_select {
  .select {
    &.offline {
      button {
        color: #ffffff;
      }
      &::after {
        content: "";
        background: url("/framework/assets/images/guide/ver_icon.svg") center
          no-repeat;
      }
    }
  }
}

// ----------------------------- code ------------------------------------
.guide_wrap {
  .guide_item_view {
    .item_view {
      //h2
      .DDY_title {
        margin-bottom: 0;
        h2 {
          font-size: 24px;
        }
      }
      .userWrap .imgWrap {
        width: 32px;
        height: 32px;
        border-radius: 100px;
        background-color: var(--clr-F5F5F5);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid var(--clr-EEEEEE);
        padding: 0;
        margin: 0;
      }
      nav {
        position: static;
        min-height: 250px;
      }
      .pagination {
        padding: 0;
      }
      .selectBox {
        align-items: center;
      }
    }
  }

  .partner_map_modal {
    .modalWrap {
      left: 50%;
      top: -260px;
    }
  }

  .mapListWrap {
    position: static;
    width: 1200px;
    .mapList {
      padding: 12px;
    }
  }
}

nav {
  margin-top: 0;
}
@media screen and (max-width: 1439px) {
  header {
    h1,
    .DDY_select {
      display: none;
    }
  }
  .guide_item_view {
    .item_view {
      overflow-x: auto;
    }
  }
}

/* overview */
.main_banner {
  display: flex;
  gap: 78px;
  align-items: center;
  justify-content: center;
  background-color: #eff6ff;
  border-radius: 16px;
  .main_text {
    strong {
      display: block;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px; /* 131.25% */
      letter-spacing: -0.64px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
    }
  }
}

.view_list {
  display: flex;
  gap: 16px;
  li {
    width: calc(33.33% - 16px);
    .imgWrap {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border-radius: 0;
      margin-bottom: 8px;
      img {
        width: 100%;
      }
    }
    strong {
      display: block;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 150% */
      letter-spacing: -0.4px;
    }
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      color: #616161;
    }
  }
}

.icon_list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  li {
    background-color: #fafafa;
    width: calc(25% - 16px);
    border-radius: 8px;
    overflow: hidden;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 24px;
    }
    .iconWrap {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #eeeeee;
      border-radius: 4px;
    }
    strong {
      display: block;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 150% */
      letter-spacing: -0.4px;
    }
    span {
      display: block;
      width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      color: #616161;
      margin-bottom: 8px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      letter-spacing: -0.24px;
      margin-bottom: 16px;
    }
    .c_flex {
      gap: 7px;
    }
  }
}

.guide_input_wrap {
  margin-bottom: 20px;
  .DDY_input {
    width: 424px;
  }
}

.DDY_select .option.active {
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .logoWrap .logo::before {
    display: none;
  }
  header {
    min-width: 100%;
  }
  main {
    min-width: 100%;
    overflow-x: auto;
  }
  .dataTable > tbody > tr td {
    padding: 0 2px;
    word-break: break-all;
  }
  .main_banner {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px;
    background-color: #eff6ff;
    border-radius: 16px;
    .main_text {
      strong {
        display: block;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 131.25% */
        letter-spacing: -0.64px;
        margin-bottom: 20px;
        word-break: keep-all;
      }
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.24px;
      }
    }
    img {
      width: 100%;
    }
  }

  .view_list {
    flex-wrap: wrap;
    li {
      width: calc(100% - 16px);
    }
  }

  .icon_list {
    li {
      width: calc(100% - 16px);
    }
  }

  .guide_input_wrap {
    .DDY_input {
      width: 100%;
    }
  }
}

.pl10 {
  padding-left: 17px;
}

.main_error_message {
  display: none;
}
@media screen and (max-width: 768px) {
  .main_error_message {
    margin-bottom: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.24px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
