// colorset
:root {
  --clr-FFFFFF: #ffffff;
  --clr-F2FDE4: #f2fde4;
  --clr-FAFAFA: #fafafa;
  --clr-F5F5F5: #f5f5f5;
  --clr-FFEBEE: #ffebee;
  --clr-CED2F4: #ced2f4;
  --clr-EEEEEE: #eeeeee;
  --clr-EFF1FD: #eff1fd;
  --clr-E8F5E9: #e8f5e9;
  --clr-E0E0E0: #e0e0e0;
  --clr-E3E5F5: #e3e5f5;

  --clr-BDBDBD: #bdbdbd;
  --clr-DDDDDD: #dddddd;

  --clr-1A1A1A: #1a1a1a;
  --clr-333333: #333333;
  --clr-555555: #555555;
  --clr-616161: #616161;
  --clr-999999: #999999;

  --clr-1E40AF: #1e40af;
  --clr-141E76: #141e76;
  --clr-1D4ED8: #1d4ed8;
  --clr-2A36A3: #2a36a3;
  --clr-323DA3: #323da3;

  --clr-15803D: #15803d;
  --clr-43A047: #43a047;
  --clr-09AF00: #09af00;
  --clr-90EE02: #90ee02;

  --clr-D32F2F: #d32f2f;
  --clr-E53935: #e53935;
}
