<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" href="/framework/assets/images/DDY_favicon.png" />
    <!-- jquery -->
    <script src="/framework/assets/js/jquery-3.7.1.min.js"></script>
    <!-- js -->
    <script src="/framework/assets/js/common.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/framework/assets/css/style.css" />
    <link rel="stylesheet" href="/framework/assets/css/guide/guide.css" />

    <link rel="stylesheet" href="/framework/assets/css/prism.css" />
    <script src="/framework/assets/js/prism.js"></script>
    <title>이로움케어 프레임워크 가이드</title>
  </head>
  <body class="hidden">
    <header>
      <div class="h_left">
        <div class="hambar">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="logoWrap">
          <h1><a href="/framework/index.html">EroumCare</a></h1>
        </div>
        <div class="DDY_select">
          <div class="select offline">
            <button type="button">Ver 1.0.0</button>
          </div>
          <div class="option">
            <ul>
              <li><button type="button">Ver 1.0.0</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="h_right">
        <div class="DDY_input">
          <input
            type="text"
            placeholder="검색"
            class="high_S"
            id="guide_keyword"
          />
        </div>
      </div>
    </header>
    <div class="partner_wrap">
      <nav>
        <ul>
          <li><a href="../../index.html">Overview</a></li>
          <li>
            <a href="javascript: void(0);">
              Foundation
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
              />
            </a>
            <ul>
              <li><a href="../../foundation/color.html">Color (색상)</a></li>
              <li>
                <a href="../../foundation/typography.html">Typography (서체)</a>
              </li>
              <li><a href="../../foundation/shape.html">Shape (형태)</a></li>
              <li><a href="../../foundation/layout.html">Layout (배치)</a></li>
              <li>
                <a href="../../foundation/system_icon.html"
                  >System Icon (아이콘)</a
                >
              </li>
            </ul>
          </li>

          <li class="on">
            <a href="javascript: void(0);">
              Components
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
              />
            </a>
            <ul class="showOn">
              <li class="show">
                <a href="javascript:void(0)"
                  >Navigation (탐색)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul class="showOn">
                  <li>
                    <a href="./breadcrumb.html">Breadcrumb (브레드크럼)</a>
                  </li>
                  <li><a href="./gnb.html">GNB (헤더, 네비)</a></li>
                  <li class="active">
                    <a href="./side_navigation.html"
                      >Side Navigation (사이드 메뉴)</a
                    >
                  </li>
                  <li>
                    <a href="./pagination.html">Pagination (페이지네이션)</a>
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Layout (레이아웃)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li>
                    <a href="../layout/accordion.html">Accordion (아코디언)</a>
                  </li>
                  <li>
                    <a href="../layout/avatar.html">Avatar (아바타)</a>
                  </li>
                  <li><a href="../layout/badge.html">Badge (배지)</a></li>
                  <li><a href="../layout/calendar.html">Calendar (달력)</a></li>
                  <li><a href="../layout/card.html">Card (카드)</a></li>
                  <li>
                    <a href="../layout/carousel.html">Carousel (캐러셀)</a>
                  </li>
                  <li><a href="../layout/label.html">Label (레이블)</a></li>
                  <li><a href="../layout/modal.html">Modal (모달)</a></li>
                  <li>
                    <a href="../layout/status_chips.html"
                      >Status Chips(상태 칩)</a
                    >
                  </li>
                  <li><a href="../layout/tab.html">Tab (탭)</a></li>
                  <li><a href="../layout/table.html">Table (표)</a></li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Action (액션)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li><a href="../action/button.html">Button (버튼)</a></li>
                  <li><a href="../action/link.html">Link (링크)</a></li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Select (선택)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li>
                    <a href="../select/checkbox.html">Checkbox (체크박스)</a>
                  </li>
                  <li><a href="../select/chips.html">Chips (칩)</a></li>
                  <li>
                    <a href="../select/radio_button.html"
                      >Radio button (라디오 버튼)</a
                    >
                  </li>
                  <li>
                    <a href="../select/segmented_control.html"
                      >Segmented Control (세그먼트 컨트롤)</a
                    >
                  </li>
                  <li>
                    <a href="../select/select_button.html">Select (셀렉트)</a>
                  </li>
                  <li><a href="../select/switch.html">Switch (토글)</a></li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Input (입력)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li>
                    <a href="../input/textarea.html">Textarea (텍스트 영역)</a>
                  </li>
                  <li>
                    <a href="../input/text_input.html"
                      >Text input (텍스트 입력 필드)</a
                    >
                  </li>
                  <li>
                    <a href="../input/file_upload.html"
                      >File upload (파일 업로드)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Feedback (피드백)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li>
                    <a href="../feedback/loading.html">Loading (로딩) </a>
                  </li>
                  <li>
                    <a href="../feedback/step_indicator.html"
                      >Step indicator (단계 표시기)</a
                    >
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Message (알림)
                  <img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                  />
                </a>
                <ul>
                  <li><a href="../message/toast.html">Toast (토스트)</a></li>
                  <li><a href="../message/tooltip.html">Tooltip (툴팁)</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript: void(0);"
              >Patterns
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul>
              <li><a href="../../patterns/search.html">Search (검색)</a></li>
              <li><a href="../../patterns/message.html">Message (알림)</a></li>
              <li><a href="../../patterns/error.html">Error (오류)</a></li>
              <li><a href="../../patterns/forms.html">Forms (입력폼)</a></li>
              <li>
                <a href="../../patterns/card_mob.html">Card(카드_모바일)</a>
              </li>
              <li class="show on">
                <a href="javascript:void(0)"
                  >Order (주문)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../../patterns/order/list.html"> 상품리스트</a>
                  </li>
                  <li>
                    <a href="../../patterns/order/detail.html">상품상세</a>
                  </li>
                  <li>
                    <a href="../../patterns/order/check.html">주문정보확인</a>
                  </li>
                </ul>
              </li>
              <li class="show on">
                <a href="javascript:void(0)">
                  Tables (테이블)<img
                    src="/framework/assets/images/part_nav_arrow.svg"
                    alt="네비게이션 화살표"
                /></a>
                <ul>
                  <li>
                    <a href="../../patterns/tables/default.html">기본형</a>
                  </li>
                  <li>
                    <a href="../../patterns/tables/data.html">데이터 입력형</a>
                  </li>
                  <li><a href="../../patterns/tables/mix.html">조합형</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <a href="javascript: void(0);"
              >Page
              <img
                src="/framework/assets/images/part_nav_arrow.svg"
                alt="네비게이션 화살표"
            /></a>
            <ul>
              <li><a href="../../page/error.html">Error</a></li>
              <li><a href="../../page/nodata.html">NoData</a></li>
              <li><a href="../../page/ready.html">빈화면</a></li>
            </ul>
          </li>
        </ul>
        <p>ⓒEroumcare All rights reserved.</p>
      </nav>
      <main>
        <!-- s -->
        <div class="guide_wrap">
          <div class="DDY_title">
            <div>
              <h2>Side Navigation (사이드 메뉴)</h2>
              <ul class="indicator">
                <li>Components</li>
                <li>Navigation (탐색)</li>
                <li>Side Navigation (사이드 메뉴)</li>
              </ul>
            </div>
          </div>

          <div class="DDY_list">
            <div class="tabTop">
              <span class="active">Design</span>
              <span>Code</span>
            </div>

            <!-- Design -->
            <div class="tabCon">
              <section>
                <h3>Side Navigation</h3>
                <div class="guide_text">
                  <p>
                    • 사이드 메뉴는 서브 화면 내에서의 이동을 위해 사용하는
                    메뉴이다.
                  </p>
                  <p>
                    • 일반적으로 본문 영역의 좌측에 사이드바 형태로 제공된다.
                  </p>
                </div>
              </section>
              <section>
                <h3>구조</h3>
                <div class="guide_text">
                  <p>
                    • 사이드 메뉴의 가장 기본적인 형태로 링크가 적용되며,
                    사용자는 메인 메뉴와 메인 메뉴의 식별자를 통해 사이드 메뉴
                    목록의 계층 구조를 파악할 수 있다.
                  </p>
                </div>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/navigation/navigation03_01.png"
                    alt="구조 이미지"
                  />
                </div>
                <div class="guide_list">
                  <ul>
                    <li>
                      <span><em>1</em>헤더(1depth)</span>
                      <div>
                        <p>메뉴 목록의 제목을 제공하는 영역</p>
                        <div>
                          <p>
                            <span>a. 제목</span>메뉴 목록 전체의 상위 수준 정보
                            구조를 알려주는 텍스트
                          </p>

                          <p>
                            <span>b. 화살표</span>제목으로 제공되는 상위 수준
                            정보 구조로 이동하는 데 사용되는 버튼
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span><em>2</em>기본 화면 링크 목록 (2depth)</span>
                      <div>
                        <p>기본 탐색 링크 그룹</p>
                      </div>
                    </li>
                    <li>
                      <span><em>3</em>하위 수준 페이지 링크 목록 (3depth)</span>
                      <div>
                        <p>기본 페이지 링크 하위 수준에 속하는 링크 목록</p>
                      </div>
                    </li>
                    <li>
                      <span><em>4</em>꺽쇠 아이콘</span>
                      <div>
                        <p>
                          하위 수준 화면 링크 목록의 확장/축소 상태를 나타냄.
                          사용자는 꺽쇠 아이콘의 유무를 통해 개별 기본 화면 링크
                          하위에 추가적으로 탐색할 수 있는 링크 목록이
                          존재하는지를 인지할 수 있음
                        </p>
                        <div>
                          <p><span>a. 축소</span>상위 목록</p>

                          <p><span>b. 확장</span>하위 목록</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span><em>5</em>선택</span>
                      <div>
                        <p>메뉴 목록 선택</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <h3>유형</h3>
                <div class="guide_text">
                  <p>• 기본 : 2depth까지 펼쳐짐</p>
                  <p>
                    • 기본 : 3depth 기본형태는 2depth 접혀있는 상태에서 방향
                    화살표 오른쪽 상태
                  </p>
                </div>
                <div class="imgFlex">
                  <div class="imgWrap">
                    <img
                      src="/framework/assets/images/guide/components/navigation/navigation03_02.png"
                      alt="2depth 표시 (기본형) 유형 이미지"
                    />
                  </div>
                  <div class="imgWrap">
                    <img
                      src="/framework/assets/images/guide/components/navigation/navigation03_03.png"
                      alt="2depth 기본 (2depth 미선택) 유형 이미지"
                    />
                  </div>
                  <div class="imgWrap">
                    <img
                      src="/framework/assets/images/guide/components/navigation/navigation03_04.png"
                      alt="3depth 표시 (2depth 선택) 유형 이미지"
                    />
                  </div>
                  <div class="imgWrap">
                    <img
                      src="/framework/assets/images/guide/components/navigation/navigation03_05.png"
                      alt="3depth 표시 (3depth 선택) 유형 이미지"
                    />
                  </div>
                </div>
              </section>
              <section>
                <h3>상태</h3>
                <div class="guide_text">
                  <p>
                    • 메뉴 목록은 기본적으로 모두 펼쳐져 있으며, 메뉴 목록을
                    열고 닫을 수 있다.
                  </p>
                  <p>• 메뉴 선택 시 해당 메뉴와 관련된 페이지로 이동한다.</p>
                </div>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/navigation/navigation03_06.png"
                    alt="상태 이미지"
                  />
                </div>
                <div class="guide_list">
                  <ul>
                    <li>
                      <span><em>1</em>Unselcted-Default</span>
                      <div>
                        <p>기본 메뉴 상태</p>
                      </div>
                    </li>
                    <li>
                      <span><em>2</em>Unselcted-Hover:Active:Press</span>
                      <div>
                        <p>기본 메뉴 상태 - 선택</p>
                      </div>
                    </li>
                    <li>
                      <span><em>3</em>Selcted-Default</span>
                      <div>
                        <p>선택 상태 - 기본 메뉴</p>
                      </div>
                    </li>
                    <li>
                      <span><em>4</em>Selcted-Hover:Active:Press</span>
                      <div>
                        <p>선택 상태 - 선택</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <section>
                <h3>사이즈 & 간격</h3>
                <div class="guide_text">
                  <p>
                    • 메뉴 목록은 기본적으로 모두 펼쳐져 있으며, 메뉴 목록을
                    열고 닫을 수 있다.
                  </p>
                  <p>
                    • 메뉴 전체 간격은 위/아래 : 24px, 좌/우 : 16px, depth gap :
                    4px
                  </p>
                  <p>• 메뉴 높이는 1depth : 42px, 2/3depth : 40px</p>
                </div>
                <div class="imgWrap">
                  <img
                    src="/framework/assets/images/guide/components/navigation/navigation03_07.png"
                    alt="사이즈 & 간격 이미지"
                  />
                </div>
              </section>
            </div>

            <!-- Code -->
            <div class="tabCon">
              <section>
                <h3>Side Navigation</h3>
                <div class="guide_item_view">
                  <div class="item_view">
                    <nav>
                      <ul>
                        <li>
                          <a href="javascript: void(0);">
                            Foundation
                            <img
                              src="/framework/assets/images/part_nav_arrow.svg"
                              alt="네비게이션 화살표"
                            />
                          </a>
                          <ul>
                            <li>
                              <a href="../../foundation/color.html"
                                >Color (색상)</a
                              >
                            </li>
                            <li>
                              <a href="../../foundation/typography.html"
                                >Typography (서체)</a
                              >
                            </li>
                            <li>
                              <a href="../../foundation/shape.html"
                                >Shape (형태)</a
                              >
                            </li>
                            <li>
                              <a href="../../foundation/layout.html"
                                >Layout (배치)</a
                              >
                            </li>
                            <li>
                              <a href="../../foundation/system_icon.html"
                                >System Icon (아이콘)</a
                              >
                            </li>
                          </ul>
                        </li>

                        <li class="on">
                          <a href="javascript: void(0);">
                            Components
                            <img
                              src="/framework/assets/images/part_nav_arrow.svg"
                              alt="네비게이션 화살표"
                            />
                          </a>
                          <ul class="showOn">
                            <li class="show">
                              <a href="javascript:void(0)"
                                >Navigation (탐색)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul class="showOn">
                                <li>
                                  <a href="../navigation/breadcrumb.html"
                                    >Breadcrumb (브레드크럼)</a
                                  >
                                </li>
                                <li>
                                  <a href="../navigation/gnb.html"
                                    >GNB (헤더, 네비)</a
                                  >
                                </li>
                                <li class="active">
                                  <a href="../navigation/side_navigation.html"
                                    >Side Navigation (사이드 메뉴)</a
                                  >
                                </li>
                                <li>
                                  <a href="../navigation/pagination.html"
                                    >Pagination (페이지네이션)</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)"
                                >Layout (레이아웃)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Avatar (아바타)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Accordion (아코디언)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Badge (배지)</a>
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Calendar (달력)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Card (카드)</a>
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Carousel (캐러셀)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Label (레이블)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Modal (모달)</a>
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Status Chips(상태 칩)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Tab (탭)</a>
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Table (표)</a>
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)">
                                Action (액션)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li>
                                  <a href="../action/button.html"
                                    >Button (버튼)</a
                                  >
                                </li>
                                <li>
                                  <a href="../action/link.html">Link (링크)</a>
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)">
                                Select (선택)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Checkbox (체크박스)</a
                                  >
                                </li>
                                <li><a href="javascript:void(0)">Chips</a></li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Radio button (라디오 버튼)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Segmented Control (세그먼트 컨트롤)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Select (셀렉트)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)">Switch (토글)</a>
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)">
                                Input (입력)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Textarea (텍스트 영역)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Text input (텍스트 입력 필드)</a
                                  >
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >File upload (파일 업로드)</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)">
                                Feedback (피드백)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Loading (로딩)
                                  </a>
                                </li>
                                <li>
                                  <a href="javascript:void(0)"
                                    >Step indicator (단계 표시기)</a
                                  >
                                </li>
                              </ul>
                            </li>
                            <li class="show on">
                              <a href="javascript:void(0)">
                                Message (알림)
                                <img
                                  src="/framework/assets/images/part_nav_arrow.svg"
                                  alt="네비게이션 화살표"
                                />
                              </a>
                              <ul>
                                <li><a href="javascript:void(0)">Toast</a></li>
                                <li>
                                  <a href="javascript:void(0)">Tooltip</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <p>ⓒEroumcare All rights reserved.</p>
                    </nav>
                  </div>

                  <div class="code">
                    코드보기
                    <img
                      src="/framework/assets/images/guide/code_arrow.svg"
                      alt="코드보기"
                    />
                  </div>

                  <div class="guide_tab_wrap">
                    <div class="guide_tabTop">
                      <span class="active">HTML</span>
                      <span>SCSS</span>
                      <span>JAVASCRIPT</span>
                    </div>
                    <!-- item01 -->
                    <div class="guide_item">
                      <pre
                        class="line-numbers"
                      ><code class="language-markup">&#x3C;nav&#x3E;
  &#x3C;ul&#x3E;
    &#x3C;li&#x3E;
      &#x3C;a href=&#x22;javascript: void(0);&#x22;&#x3E;
        Foundation
        &#x3C;img
          src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
          alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
        /&#x3E;
      &#x3C;/a&#x3E;
      &#x3C;ul&#x3E;
        &#x3C;li&#x3E;
          &#x3C;a href=&#x22;../../foundation/color.html&#x22;
            &#x3E;Color (&#xC0C9;&#xC0C1;)&#x3C;/a
          &#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;
          &#x3C;a href=&#x22;../../foundation/typography.html&#x22;
            &#x3E;Typography (&#xC11C;&#xCCB4;)&#x3C;/a
          &#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;
          &#x3C;a href=&#x22;../../foundation/shape.html&#x22;
            &#x3E;Shape (&#xD615;&#xD0DC;)&#x3C;/a
          &#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;
          &#x3C;a href=&#x22;../../foundation/layout.html&#x22;
            &#x3E;Layout (&#xBC30;&#xCE58;)&#x3C;/a
          &#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;
          &#x3C;a href=&#x22;../../foundation/system_icon.html&#x22;
            &#x3E;System Icon (&#xC544;&#xC774;&#xCF58;)&#x3C;/a
          &#x3E;
        &#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;
    &#x3C;/li&#x3E;

    &#x3C;li class=&#x22;on&#x22;&#x3E;
      &#x3C;a href=&#x22;javascript: void(0);&#x22;&#x3E;
        Components
        &#x3C;img
          src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
          alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
        /&#x3E;
      &#x3C;/a&#x3E;
      &#x3C;ul class=&#x22;showOn&#x22;&#x3E;
        &#x3C;li class=&#x22;show&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;
            &#x3E;Navigation (&#xD0D0;&#xC0C9;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul class=&#x22;showOn&#x22;&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;../navigation/breadcrumb.html&#x22;
                &#x3E;Breadcrumb (&#xBE0C;&#xB808;&#xB4DC;&#xD06C;&#xB7FC;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;../navigation/gnb.html&#x22;
                &#x3E;GNB (&#xD5E4;&#xB354;, &#xB124;&#xBE44;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li class=&#x22;active&#x22;&#x3E;
              &#x3C;a href=&#x22;../navigation/side_navigation.html&#x22;
                &#x3E;Side Navigation (&#xC0AC;&#xC774;&#xB4DC; &#xBA54;&#xB274;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;../navigation/pagination.html&#x22;
                &#x3E;Pagination (&#xD398;&#xC774;&#xC9C0;&#xB124;&#xC774;&#xC158;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;
            &#x3E;Layout (&#xB808;&#xC774;&#xC544;&#xC6C3;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Avatar (&#xC544;&#xBC14;&#xD0C0;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Accordion (&#xC544;&#xCF54;&#xB514;&#xC5B8;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Badge (&#xBC30;&#xC9C0;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Calendar (&#xB2EC;&#xB825;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Card (&#xCE74;&#xB4DC;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Carousel (&#xCE90;&#xB7EC;&#xC140;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Label (&#xB808;&#xC774;&#xBE14;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Modal (&#xBAA8;&#xB2EC;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Status Chips(&#xC120;&#xD0DD;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Tab (&#xD0ED;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Table (&#xD45C;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;
            Action (&#xC561;&#xC158;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;../action/button.html&#x22;
                &#x3E;Button (&#xBC84;&#xD2BC;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;../action/link.html&#x22;&#x3E;Link (&#xB9C1;&#xD06C;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;
            Select (&#xC120;&#xD0DD;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Checkbox (&#xCCB4;&#xD06C;&#xBC15;&#xC2A4;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Chips&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Radio button (&#xB77C;&#xB514;&#xC624; &#xBC84;&#xD2BC;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Segmented Control (&#xC138;&#xADF8;&#xBA3C;&#xD2B8; &#xCEE8;&#xD2B8;&#xB864;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Select (&#xC140;&#xB809;&#xD2B8;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Switch (&#xD1A0;&#xAE00;)&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;
            Input (&#xC785;&#xB825;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Textarea (&#xD14D;&#xC2A4;&#xD2B8; &#xC601;&#xC5ED;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Text input (&#xD14D;&#xC2A4;&#xD2B8; &#xC785;&#xB825; &#xD544;&#xB4DC;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;File upload (&#xD30C;&#xC77C; &#xC5C5;&#xB85C;&#xB4DC;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;
            Feedback (&#xD53C;&#xB4DC;&#xBC31;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Loading (&#xB85C;&#xB529;)
              &#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;
                &#x3E;Step indicator (&#xB2E8;&#xACC4; &#xD45C;&#xC2DC;&#xAE30;)&#x3C;/a
              &#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li class=&#x22;show on&#x22;&#x3E;
          &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;
            Message (&#xC54C;&#xB9BC;)
            &#x3C;img
              src=&#x22;/framework/assets/images/part_nav_arrow.svg&#x22;
              alt=&#x22;&#xB124;&#xBE44;&#xAC8C;&#xC774;&#xC158; &#xD654;&#xC0B4;&#xD45C;&#x22;
            /&#x3E;
          &#x3C;/a&#x3E;
          &#x3C;ul&#x3E;
            &#x3C;li&#x3E;&#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Toast&#x3C;/a&#x3E;&#x3C;/li&#x3E;
            &#x3C;li&#x3E;
              &#x3C;a href=&#x22;javascript:void(0)&#x22;&#x3E;Tooltip&#x3C;/a&#x3E;
            &#x3C;/li&#x3E;
          &#x3C;/ul&#x3E;
        &#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;
    &#x3C;/li&#x3E;
  &#x3C;/ul&#x3E;
  &#x3C;p&#x3E;&#x24D2;Eroumcare All rights reserved.&#x3C;/p&#x3E;
&#x3C;/nav&#x3E;</code></pre>
                    </div>
                    <!-- item02 -->
                    <div class="guide_item">
                      <pre
                        class="line-numbers"
                      ><code class="language-scss">// -------------------------------- SNB --------------------------------

nav {
  position: fixed;
  top: 56px;
  left: 0;
  width: 240px;
  height: calc(100% - 56px);
  padding: 24px 16px;
  background: var(--clr-F5F5F5);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  z-index: 100;
  transition: left 0.3s;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;

  &::-webkit-scrollbar {
    width: 5px;
    height: 200px;
  }
  &::-webkit-scrollbar-track {
    background: var(--clr-EEEEEE);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--clr-DDDDDD);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--clr-DDDDDD);
  }

  &.on {
    left: -250px;
  }
  > ul {
    width: 100%;
    > li {
      &.on {
        > a {
          &:hover {
            color: var(--clr-1A1A1A);
            background-color: var(--clr-EEEEEE);
          }
          img {
            transition: all 0.2s;
            transform: rotate(0);
          }
        }
      }
      &.active {
        color: var(--clr-323DA3);
        background-color: var(--clr-E3E5F5);
        border-radius: 4px;
        > a {
          color: var(--clr-323DA3);
        }
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 42px;
        padding: 12px 4px 12px 8px;
        font-size: 16px;
        font-weight: 700;
        img {
          transition: all 0.2s;
          transform: rotate(90deg);
        }
      }
      // 2dep
      > ul {
        padding: 4px 0;
        display: none;
        &.showOn {
          display: block;
        }
        > li {
          position: relative;
          margin-bottom: 4px;
          font-size: 16px;
          line-height: 40px;
          transition: all 0.2s;
          &::before {
            content: "";
            position: absolute;
            top: 18px;
            left: 14px;
            width: 3px;
            height: 3px;
            border-radius: 100px;
            background-color: var(--clr-616161);
          }
          &:last-child {
            margin-bottom: 0;
          }

          //3dep있을경우
          &.show {
            &:hover {
              background-color: transparent;
            }
            &.on > a {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-right: 4px;
            }
          }
          &.on {
            &:hover {
              background-color: var(--clr-EEEEEE);
              color: var(--clr-1A1A1A);
            }
            a {
              img {
                transition: all 0.2s;
                transform: rotate(90deg);
              }
            }
          }

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 4px;
            width: 100%;
            height: 100%;
            padding-left: 31px;
            img {
              transition: all 0.2s;
              transform: rotate(0);
            }
          }

          &:hover {
            color: var(--clr-1A1A1A);
            background-color: var(--clr-EEEEEE);
            border-radius: 4px;
            font-weight: 700;
            &::before {
              content: "";
              background-color: var(--clr-323DA3);
            }
          }

          &.active {
            color: var(--clr-323DA3);
            background-color: var(--clr-E3E5F5);
            border-radius: 4px;
            &::before {
              content: "";
              background-color: var(--clr-323DA3);
            }
            > a {
              color: var(--clr-323DA3);
            }
            &:hover {
              background-color: #ced2f4;
              color: #141e76;
            }
          }

          //3dep
          > ul {
            background-color: var(--clr-F5F5F5);
            padding: 4px 0 4px 16px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;
            display: none;

            &.showOn {
              display: flex;
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 16px;
              transform: translate(0, -50%);
              width: 1px;
              height: calc(100% - 8px);
              background-color: var(--clr-DDDDDD);
            }
            > li {
              width: 100%;
              // border-left: 1px solid var(--clr-DDDDDD);
              a {
                display: block;
                padding-left: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }

              &:hover {
                color: var(--clr-1A1A1A);
                background-color: var(--clr-EEEEEE);
                border-radius: 4px;
                > a {
                  color: var(--clr-1A1A1A);
                }
              }
              &.active {
                color: var(--clr-323DA3);
                background-color: var(--clr-E3E5F5);
                border-radius: 4px;
                > a {
                  color: var(--clr-323DA3);
                }
                &:hover {
                  background-color: #ced2f4;
                  color: #141e76;
                }
              }
            }
          }
        }
      }
    }
  }
  p {
    width: 100%;
    color: var(--clr-999999);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    height: 18px;
  }
}</code></pre>
                    </div>
                    <!-- item03 -->
                    <div class="guide_item">
                      <pre
                        class="line-numbers"
                      ><code class="language-javascript">// -------------------------------------  nav  -------------------------------------

// nav
$("nav > ul > li > a").on("click", function () {
  $(this).next("ul").stop().slideToggle();
  $(this).parent("li").toggleClass("on");
});

$("nav > ul > li > ul > li > a").on("click", function () {
  $(this).next("ul").stop().slideToggle();
  $(this).parent("li").toggleClass("on");
});</code></pre>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- e -->
      </main>
    </div>
  </body>
</html>
