// 지우기 s
.DDY_header {
  height: 135px;
  background: url("/framework/assets/images/DDY_line.jpg") top center no-repeat;
  background-size: 3000px 135px;
  img {
    height: 142px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -3px;
  }
}
.img_flex {
  display: flex;
  gap: 38px;
  align-items: flex-start;
  justify-content: center;
}
.snb {
  width: 302px;
}
.at-content {
  padding-top: 36px;
  width: 1060px;
}
// 지우기 e

// ----------------------------- tag ------------------------------------

// hidden
html,
body {
  &.hidden {
    overflow: hidden;

    // //safari 크로스브라우징안됨
    // scrollbar-gutter: stable;
  }
}

section {
  margin-bottom: 48px;
}

sup {
  color: var(--clr-E53935);
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

// ----------------------------- class ------------------------------------

.c_flex {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(100% - 120px);
}

.selectBox {
  display: flex;
  gap: 12px;
}

// // ----------------------------- excelDownload ------------------------------------

// .excelDownload {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   a {
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
//     gap: 4px;
//     padding: 8px 16px;
//     margin-bottom: 8px;
//   }
// }

// ----------------------------- height / width size ------------------------------------

.w100 {
  width: 100% !important;
  min-width: 0 !important;
}
.w50 {
  width: 50% !important;
  max-width: 50% !important;
}
.high_S {
  height: 36px !important;
  font-size: 14px;
  line-height: 36px;
  gap: 4px;
}
.high_M {
  height: 46px;
  font-size: 16px;
  line-height: 45px;
  gap: 8px;
}
.high_L {
  height: 54px;
  font-size: 18px;
  line-height: 54px;
  gap: 8px;
}

// ----------------------------- modal size ------------------------------------

.modal_sm {
  min-width: 340px !important;
  width: 340px !important;
}
.modal_md {
  min-width: 480px !important;
  width: 480px !important;
}
.modal_lg {
  min-width: 600px !important;
  width: 600px !important;
}
.modal_xl {
  min-width: 800px !important;
  width: 800px !important;
}

// ----------------------------- indicator ------------------------------------

.indicator {
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4px;
  li {
    position: relative;
    color: var(--clr-555555);
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translate(0, -50%);
      width: 16px;
      height: 16px;
      background: url("/framework/assets/images/indicator_icon.svg") center no-repeat;
    }
    &:last-child::after {
      display: none;
    }
  }
}

// ----------------------------- datepicker ------------------------------------

// datepicker
.tui-datepicker {
  z-index: 10;
  margin-top: 8px;
  border-radius: 4px;
  overflow: hidden;
}

// ----------------------------- sectionTitle ------------------------------------

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-616161);
  padding-bottom: 8px;
  p {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.detailWrap {
  .imgWrap {
    width: 100%;
    height: 100%;
    margin: 8px auto;
    img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}

// ----------------------------- report ------------------------------------

.orderText {
  width: 100%;
  height: 88px;
  text-align: center;
  border: 1px solid var(--clr-BDBDBD);
  background-color: var(--clr-FAFAFA);
  box-sizing: border-box;
  border-radius: 4px;
  p {
    font-size: 20px;
    font-weight: 600;
    line-height: 86px;
    color: var(--clr-1A1A1A);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.report_price {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--clr-FAFAFA);
  border-top: 1px solid var(--clr-BDBDBD);
  border-bottom: 1px solid var(--clr-BDBDBD);

  .imgWrap {
    display: flex;
    align-items: center;
    gap: 16px;
    img {
      width: 100px;
      height: 100px;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      max-width: 190px;
    }
  }

  // .priceWrap {
  //   ul {
  //     display: flex;
  //     align-items: center;
  //     gap: 32px;
  //     li {
  //       span {
  //         display: block;
  //         width: 100%;
  //         font-weight: 600;
  //         color: var(--clr-616161);
  //         margin-bottom: 4px;
  //       }
  //       strong {
  //         display: block;
  //         font-size: 18px;
  //         font-weight: 600;
  //         line-height: 26px;
  //         letter-spacing: -0.27px;
  //       }
  //       &:nth-last-child(2) {
  //         width: 1px;
  //         height: 44px;
  //         background-color: var(--clr-E0E0E0);
  //       }
  //       &:last-child {
  //         strong {
  //           display: flex;
  //           align-items: center;
  //           gap: 4px;
  //           font-size: 24px;
  //           font-weight: 900;
  //           line-height: 34px;
  //           color: var(--clr-E53935);
  //           span {
  //             font-size: 14px;
  //             font-weight: 600;
  //             line-height: 20px;
  //           }
  //           em {
  //             font-size: 16px;
  //             color: var(--clr-1A1A1A);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .priceWrap {
    display: flex;
    align-items: center;
    gap: 24px;
    > div {
      > span {
        display: block;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
        color: var(--clr-616161);
        margin-bottom: 4px;
      }
      > strong {
        display: block;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 144.444% */
        letter-spacing: -0.27px;
      }
    }
    > div:last-child {
      padding: 8px 20px;
      border-left: 1px solid #e0e0e0;
      p {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        gap: 130px;
        &:last-child {
          margin-bottom: 0;
        }
        strong {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.24px;
          color: var(--clr-555555);
        }
        span {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: -0.24px;
          color: var(--clr-555555);
        }
      }
    }
  }
}

// ----------------------------- btnWrap ------------------------------------

.btnWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.lastBtnWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  .edit_save {
    display: none;
  }

  button {
    min-width: 130px;
  }
}

// ----------------------------- month_price ------------------------------------

.month_price {
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid var(--clr-616161);
  border-radius: 4px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      display: flex;
      align-items: center;
      height: 52px;
      span {
        color: var(--clr-616161);
        padding: 0 12px;
        font-weight: 600;
        min-width: 96px;
      }
      p {
        color: var(--clr-1A1A1A);
        padding: 0 12px;
        font-weight: 600;
      }
    }
  }
}

// ----------------------------- month_slider ------------------------------------

.month_slider {
  position: relative;
  ul {
    li {
      background-color: var(--clr-FFFFFF);
      p {
        text-align: left;
        height: 40px;
        padding-left: 48px;
        font-size: 18px;
        font-weight: 700;
        color: var(--clr-1E40AF);
        line-height: 40px;
        margin-bottom: 16px;
      }
    }
  }
  .slider_prev {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      svg {
        path {
          fill: var(--clr-999999);
        }
      }
    }
  }
  .slider_next {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 112px;
    width: 40px;
    height: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      svg {
        path {
          fill: var(--clr-999999);
        }
      }
    }
  }
}

// ----------------------------- deliveryInfo ------------------------------------

.deliveryInfo {
  .sectionTitle {
    border: 0;
  }
}

// ----------------------------- table center ------------------------------------

table {
  th,
  td {
    text-align: left;
  }

  .Tcenter {
    text-align: center;
    .selectBox {
      justify-content: center;
    }

    .DDY_checkBox {
      width: 20px;
      margin: 0 auto;
      label {
        padding: 0;
        margin-right: 20px;
      }
    }
  }

  .Tright {
    text-align: right;
  }
}

// ----------------------------- 404_page ------------------------------------

.page_404 {
  margin: 0 auto;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap_404 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    img {
      display: block;
    }
    .title_404 {
      text-align: center;
      width: 100%;
      h2 {
        display: block;
        width: 100%;
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        margin-bottom: 8px;
      }
      span {
        display: block;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
      }
    }
    p {
      width: 100%;
      font-size: 16px;
      line-height: 22px;
      color: var(--clr-616161);
      text-align: center;
    }
  }
}

// ----------------------------- contract_info ------------------------------------

.contract_info {
  padding: 16px 0 32px;
  background-color: var(--clr-FAFAFA);

  p {
    font-size: 16px;
    padding: 0 16px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 63px;

    li {
      .imgWrap {
        width: 65px;
        height: 65px;
        border-radius: 100px;
        background-color: var(--clr-EEEEEE);
        display: flex;
        align-items: center;
        margin: 0 auto 16px;
        img {
          display: block;
          margin: 0 auto;
          width: auto;
          height: 100%;
          max-width: 32px;
          max-height: 26px;
        }
      }
      span {
        color: var(--clr-1A1A1A);
        display: block;
        text-align: center;
      }
    }
  }
}

// ----------------------------- page_ready ------------------------------------

.page_ready {
  margin: 0 auto;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .lottie-wrap {
      width: 600px;
      height: 600px;
    }
    p {
      width: 100%;
      font-size: 32px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1199px) {
  // 추가s
  .vertical_scroll {
    min-width: 1200px;
  }
  .snb {
    display: none;
  }
  .at-content {
    width: 100%;
  }
  .DDY_header {
    display: none;
  }
  .img_flex {
    display: block;
  }
  // 추가e
}
